{% extends "index.html" %}
<!-- Title -->
{% block title %}Detail - {{data[0].name}} {% endblock %}
<!-- Listing -->
{% block listing %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {% for card in data %}
      <div class="card">
        <div class="card-header">{{card.name}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col text-center">
              {% include 'include/image.html' %}
            </div>
          </div>
          <br />
          <div class="row">{% include 'include/card_display.html' %}</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-sm-6">
      {% for card in data %}
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col">Effect Check</div>
            <div class="col-auto">
              <div class="float-right">Views: {{views|length}}</div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- include -->
          {% include 'include/desc.html' %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
