{% extends "index.html" %}
<!-- Title -->
{% block title %}Detail - {{data[0].name}} {% endblock %}
<!-- Listing -->
{% block listing %}

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {% for card in data %}
      <div class="card">
        <div class="card-header">{{card.name}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col text-center">
              <img
                src="https://res.cloudinary.com/ds6bap5si/card-images/{{card.id}}.jpg"
                alt="{{card.name}}"
                width="300"
              />
            </div>
          </div>
<br>
          <div class="row">{% include 'include/card_display.html' %}</div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-sm-6">
      {% for card in data %}
      <div class="card">
        <div class="card-header">Effect Check</div>
        <div class="card-body">
          <!-- include -->
          {% include 'include/desc.html' %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
