
<div class="list-group">
  {% for card in data %}
  <div class="card">
    <div class="card-header">{{card.name}}</div>
    <a href="/cards/{{card.id}}" class="list-group-item list-group-item-action">
      <div class="card-body">
        <h5 class="card-title">{{card.type}}</h5>
        <p>{{card.race}} / {{card.frameType.upper()}}</p>
        {% if 'Monster' in card.type %}
        <p>{% if 'xyz' in card.frameType %}
          Rank : {{card.level}} /
          {% elif 'link' in card.frameType %}
          {% else %}
          Level : {{card.level}} /
          {% endif %}
          ATK: {{card.atk}} 
          {% if 'link' not in card.frameType %}/ DEF: {{card.def}} {% else %}/ Link - {{card.linkval}}{% endif %}</p>
        {% endif %}
        <p class="card-text">{{card.desc}}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>

