{% extends 'index.html' %}
{% block listing %}
<div class="list-group">
  {% if data|length == 0 %}
  
  <div class="card">
    <div class="card-header"><strong>No Card in Database</strong></div>
  </div>
  {% else %}
    {% for card in data %}
    <div class="card">
      <div class="card-header">{{card.name}}</div>
      <a href="/cards/{{card.id}}" class="list-group-item list-group-item-action">
        {% include 'card_display.html' %}
      </a>
    </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}

