{% extends 'index.html' %}
<!-- block listing -->
{% block listing %}
<!-- page.html -->

{% include '/include/page.html' %}

<div class="list-group">
  {% if data|length == 0 %}

  <div class="card">
    <div class="card-header"><strong>No Card in Database</strong></div>
  </div>
  {% else %}
  <!-- Check the list if it has card -->
  {% for card in data %}
  <div class="card">
    <div class="card-header">{{card.name}}</div>
    <a href="/cards/{{card.id}}" class="list-group-item list-group-item-action">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <div class="row">{% include 'include/image.html' %}</div>
          </div>
          <div class="col-lg-9">
            <div class="row mt-4">
              {% include 'include/card_display.html' %}
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %} {% include '/include/page.html' %}
  <!-- endif -->
  {% endif %}
</div>

{% endblock %}
